.container-start {
    width: 100vw;
    height: 100vh;
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

p {
    margin: auto;
    font-family: var(--secondary-font);
}

.img-full {
    width: 330px;
    transition: all 2s;
}

.img-low {
    width: 130px;
    transition: all 2s;
}

.container-player {
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 150px;
}

.container-question {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.container-player p {
    color: var(--004);
    font-size: 2em;
}

input {
    box-sizing: border-box;
    width: 80%;
    padding: .5em 1em;
    border: 2px solid var(--002);
    background-color: var(--006);
    color: var(--002);
    font-size: 1em;
    text-align: center;
    border-radius: 10px;
}

button {
    font-family: var(--secondary-font);
    font-weight: 600;
    border-radius: 10px;
    font-size: 1.3em;
    box-sizing: border-box;
    border: 2px solid var(--002);
    background: linear-gradient(40deg, var(--004) 0%, var(--005) 100%);
    color: var(--001);
    cursor: pointer;
    transition: ease all 2s;
    margin-top: 15px;
}

button:hover {
    background: linear-gradient(40deg, var(--005) 0%, var(--004) 100%);
    transition: all ease 1s;
}

.logo-mhedtech {
    width: 130px;
}

.container-welcome p:first-child {
    font-family: var(--primary-font);
    color: var(--005);
    font-size: 1.5em;
}

#last {
    font-size: .9em;
    color: var(--003);
}

.container-progress {
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer {
    position: absolute;
}

.img-question {
    border-radius: 15px;
    border: 3px solid black;
    height: 330px;
}

.btn-continue {

    font-size: 1em;
    padding: .5em;
}

.options-container {
    display: flex;
    flex-direction: column;
    height: 35%;
    justify-content: space-around;
}

.option {
    border: 2px solid var(--002);
    border-radius: 15px;
    cursor: pointer;
    color: var(--002);
    background-color: var(--009);
    transition: all ease 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .7em;
}

.selected {
    background-color: var(--006);
    transition: all ease .3s;
}

.option:hover {
    background-color: var(--004);
    color: var(--001);
    transition: all ease .3s;
}

progress {
    box-sizing: border-box;
    border-radius: 15px;
    border: 3px solid black;
    width: 600px;
    height: 30px;
    color: #000;
}

.progress-full::-webkit-progress-value {
    background-color: #fff;
    background: linear-gradient(90deg, rgba(11,158,13,.7) 0%, rgba(11,158,13,1) 100%);
    transition-duration: .8s;
    border-radius: 15px;
}

.progress-middle::-webkit-progress-value {
    background-color: #fff;
    background: linear-gradient(90deg,rgba(237,223,57,.7) 0%, rgba(237,223,57,1) 100%);
    transition-duration: .8s;
    border-radius: 15px;
}

.progress-low::-webkit-progress-value {
    background-color: #fff;
    background: linear-gradient(90deg, rgba(226, 1, 1,.7) 0%, rgba(226, 1, 1,1) 100%);
    transition-duration: .8s;
    border-radius: 15px;
}

progress::-webkit-progress-bar {
    background-color: #fff;
    border-radius: 15px;
}

.container-game-over h2 {
    color: var(--004);
    font-size: 2em;
}

.container-card {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 40%;
    justify-self: center;
}

.card {
    width: 30%;
    border: 2px solid var(--004);
    border-radius: 25px;
}

.card-title {
    color: var(--004);
    font-size: 1em;
    font-weight: bold;
}

.card-content {
    font-size: 3em;
    font-family: var(--primary-font);
    margin: auto;
    color: var(--004);
}

.gold {
    color: var(--011);
}

.silver {
    color: var(--012);
}

.bronze {
    color: var(--010);
}

@media screen and (max-width: 540px){

    .container-question {
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .container-progress {
        width: 100%;
    }

    .options-container {
        width: 100%;
        height: 40%;
    }

    .img-question {
        height: 300px;
    }

    .img-full {
        width: 250px;
    }

    .img-low {
        width: 130px;
    }

    button, .btn-continue {
        width: 100%;
        height: 40px;
    }

    @media screen and (max-width: 380px) {

        .img-low {
            display: none;
        }

        .img-question {
            height: 250px;
        }

        .option {
            margin-bottom: 3px;
        }
    }
}